# Custom 404 error page
ErrorDocument 404 /404.html

# CSP permissions for grails.apache.org - https://issues.apache.org/jira/browse/INFRA-27297
# Ref https://docs.kapa.ai/integrations/understanding-csp-cors
SetEnv CSP_PROJECT_DOMAINS "https://*.kapa.ai/ https://kapa-widget-proxy-la7dkmplpq-uc.a.run.app https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/ https://hcaptcha.com https://*.hcaptcha.com"