a:hover {
    text-decoration: underline;
}
a {
    color: #333;
    font-size: 17px;
}

.guide-hero-image {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.card {
    border: none !important;
}