<div class="card">
    <div class="card-block">
        <img class="guide-hero-image" [src]="'http://guides.grails.org/'+guide.name+'/img/heroImage.png'" alt="{{guide.title}}"/>
        <h4 class="card-title"><a [href]="'http://guides.grails.org/'+guide.name+'/guide/index.html'" class="card-link">{{guide.title}}</a></h4>
        <p><span *ngFor="let tag of guide.tags"><span class="tag tag-default" style="cursor: pointer;" (click)="tagClicked.emit(tag)">{{tag}}</span>&nbsp;</span></p>
        <!-- <p>Authors: {{guide.authors}}</p> -->
    </div>
</div>