<div class="card">
    <div class="card-block">
        <img *ngIf="guide.tags.indexOf('quickcast') == -1" class="guide-hero-image" [src]="'http://guides.grails.org/'+guide.name+'/img/heroImage.png'" alt="{{guide.title}}"/>
        <img *ngIf="guide.tags.indexOf('quickcast') != -1" class="guide-hero-image" src="../../images/quickcast.png" alt="Grails Quickcasts by OCI" />


        <h4 class="card-title"><a [href]="'http://guides.grails.org/'+guide.name+'/guide/index.html'" class="card-link">{{guide.title}}<div *ngIf="guide.tags.indexOf('quickcast') != -1"><small>{{guide.subtitle}}</small></div></a></h4>

        <p style="clear: both;"><span *ngFor="let tag of guide.tags"><span class="badge badge-default" style="cursor: pointer;" (click)="tagClicked.emit(tag)">{{tag}}</span>&nbsp;</span></p>

    </div>
</div>