<!DOCTYPE html>
<html>
  <head>
    <meta name='google-site-verification' content='REYQ1_I6HGowAE7LOLVqfQbnKaB4IfFpMlGzMbJj55Q' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' href='${resourcesPath}/img/favicon.ico' />
    <link rel='mask-icon' href='/${resourcesPath}/img/grails-pinned-icon.svg' color='feb672' />
    <meta charset='UTF-8' />
    <title>${title} | Grails Guides | Grails Framework</title>
    <meta name='description' content='${title}. ${subtitle}' />
    <link rel='stylesheet' href='${resourcesPath}/css/main.css' />
    <link rel='stylesheet' href='${resourcesPath}/css/screen.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js'></script>
  </head>
  <body class='guide'><header class='mainheader'>
  <div class='content'>
    <a href='http://grails.org/index.html'><img class='grailslogo' src='${resourcesPath}/img/grails_logo.svg' alt='Grails Logo' /></a>
    <a href='javascript:show(&apos;topmenus&apos;, &apos;showNavigationLink&apos;)' id='showNavigationLink' class='mobile align-center'>Show Navigation</a>
    <div id='topmenus'>
      <nav class='secondarymenu' id='secondarymenu'><ul>
  <li>
    <a href='http://grails.org/learning.html'>Learning</a>
  </li>
  <li>
    <a href='http://grails.org/community.html'>Community</a>
  </li>
  <li>
    <a href='http://grails.org/search.html'>Search</a>
  </li>
</ul></nav>
      <nav class='mainmenu' id='mainmenu'><ul>
  <li>
    <a href='http://grails.org/documentation.html'>Documentation</a>
  </li>
  <li>
    <a href='http://grails.org/download.html'>Download</a>
  </li>
  <li>
    <a href='http://plugins.grails.org'>Plugins</a>
  </li>
  <li>
    <a href='http://guides.grails.org/index.html'>Guides</a>
  </li>
  <li>
    <a href='http://grails.org/faq.html'>FAQ</a>
  </li>
  <li>
    <a href='http://grails.org/support.html'>Support</a>
  </li>
</ul></nav>
    </div>
  </div>
</header><div class='fullwidth'><article class="guide">
    <aside>
        <a href="https://travis-ci.org/${githubSlug}"><img src="https://travis-ci.org/${githubSlug}.svg?branch=master"></a>

        <button type="button" class="btn btn-large" onclick="window.location.href=&quot;https://github.com/${githubSlug}&quot;"><img height="15" src="../img/github_white.svg" alt="Github"/><span>&nbsp;Get the Code</span></button>


        <ul class="githublinks">
            <li><button type="button" class="btn btn-default" href="#" onclick="document.getElementById('github-url').value='git@github.com:${githubSlug}.git'" class="codeButton">SSH</button></li>
            <li><button type="button" class="btn btn-default" onclick="document.getElementById('github-url').value='https://github.com/${githubSlug}.git'" class="codeButton">HTTPS</button></li>
        </ul>
        <div class="input-group">
            <!-- Target -->
            <input id="github-url" value="git@github.com:${githubSlug}.git" type="text" />
            <!-- Trigger -->
            <button type="button" class="clippy btn btn-default" type="button" data-clipboard-target="#github-url">
                <img width="13" src="../img/clippy.svg" alt="Copy to clipboard">
            </button>
        </div>
        <script>var clipboard = new Clipboard('.clippy');</script>
        <button type="button" class="btn btn-large" onclick="window.location.href=&quot;https://github.com/${githubSlug}/archive/master.zip&quot;">Download ZIP</button>
        <% if(toc){ %>
        <div id="table-of-content">
            <h3>Table of Contents</h3>
            <%
            sectionWriter = { lvl, section, topSection, prefix ->
            if (single) {
            %>
            <div class="toc-item" style="margin-left:${lvl * 10}px"><a href="#${ section.name.encodeAsUrlFragment().encodeAsHtml() }"><strong>$prefix</strong><span>${section.title?.encodeAsHtml()}</span></a></div>
            <%
            }
            else {
            %>
            <div class="toc-item" style="margin-left:${lvl * 10}px"><a href="${path}/guide/${topSection.name.encodeAsUrlPath().encodeAsHtml()}.html${ lvl == 0 ? '' : '#' + section.name.encodeAsUrlFragment().encodeAsHtml() }"><strong>$prefix</strong><span>${section.title?.encodeAsHtml()}</span></a></div>
            <%
            }
            lvl++
            section.children.eachWithIndex { s, j ->
            sectionWriter.call(lvl, s, topSection, prefix + '.' + (j + 1))
            }
            }
            toc.children.eachWithIndex { topSection, i ->
            sectionWriter.call(0, topSection, topSection, i + 1)
            }
            %>
            <div style="clear:both" ></div>
        </div>
        <% } %>
    </aside>
    <header>
        <h1>${title.encodeAsHtml()}</h1>
        <p>${subtitle?.encodeAsHtml()}</p>
        <p><strong>Authors:</strong> ${authors.encodeAsHtml()}</p>
        <p><strong>Grails Version:</strong> ${grailsVersion}</p>
    </header>
    ${content}
</article></div><footer>
  <div class='content'>
    <div class='ocihometograils'>
      <span>Sponsored by</span>
      <a href='https://objectcomputing.com/products/grails/'><img class='' src='${resourcesPath}/img/oci_home_to_grails.svg' alt='OCI Home to Grails' /></a>
    </div>
    <nav class='socialmedianav'><ul>
  <li>
    <a href='https://grails-slack.cfapps.io'><img class='' src='${resourcesPath}/img/slack.svg' alt='Slack Icon' /></a>
  </li>
  <li>
    <a href='https://www.youtube.com/watch?v=XnRNfDGkBVg&amp;list=PLI74De5M9T73uH3WilDCePP2qfSDpMaGu'><img class='' src='${resourcesPath}/img/youtube.svg' alt='Youtube Icon' /></a>
  </li>
  <li>
    <a href='https://www.linkedin.com/groups/39757'><img class='' src='${resourcesPath}/img/linkedin.svg' alt='LinkedIn Icon' /></a>
  </li>
  <li>
    <a href='https://github.com/grails/'><img class='' src='${resourcesPath}/img/github.svg' alt='Github Icon' /></a>
  </li>
  <li>
    <a href='https://twitter.com/grailsframework'><img class='' src='${resourcesPath}/img/twitter.svg' alt='Twitter Icon' /></a>
  </li>
</ul></nav>
    <nav class='partnersnav'><ul>
  <li>Grails' repositories are hosted by
    <a href='http://artifactoryonline.com/'>Artifactory</a>
  </li>
  <li>Website hosting provided by
    <a href='http://run.pivotal.io/'>Pivotal</a>
  </li>
  <li>YourKit supports Grails with its 
    <a href='https://www.yourkit.com/java/profiler/index.jsp'>Java Profiler</a>
  </li>
  <li>Grails is Open Source
    <a href='http://www.apache.org/licenses/LICENSE-2.0.html'>Apache 2 License</a>
  </li>
</ul></nav>
  </div>
</footer><div>
  <script type='text/javascript'>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-82213539-2', 'auto');
              ga('send', 'pageview');
</script>
  <script type='text/javascript'>
adroll_adv_id = "HBWJH4CQCJGS5DJRSB4Z4D";
adroll_pix_id = "IVEQYFOZXZAPZMDVQH7BFE";
/* OPTIONAL: provide email to improve user identification */
/* adroll_email = "username@example.com"; */
(function () {
    var _onload = function(){
        if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
        if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
        var scr = document.createElement("script");
        var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
        scr.setAttribute('async', 'true');
        scr.type = "text/javascript";
        scr.src = host + "/j/roundtrip.js";
        ((document.getElementsByTagName('head') || [null])[0] ||
            document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
    };
    if (window.addEventListener) {window.addEventListener('load', _onload, false);}
    else {window.attachEvent('onload', _onload)}
}());            
</script>
</div></body>
</html>