.nav-link {
    padding: .5rem;
    border-radius: 3px;
}

.nav-link:hover, .nav-link:active {
    background-color: #db4800;
}

.grails-icon img {
    height: 27px;
    background-image: url("../../images/grails-cupsonly-logo-white.svg");
}