<nav class="socialize-menu" [@socialize]="sidebar.state">
  <h2 class="icon icon-lab">Socialize</h2>
  <ul>
    <li><a href="https://grails.org/mailing-lists.html" class="icon"><span class="fa fa-envelope"></span> Discuss on the Mailing List</a></li>
    <li><a href="http://slack-signup.grails.org" class="icon"><span class="fa fa-slack"></span> Discuss on Slack</a></li>
    <li><a href="https://twitter.com/grailsframework" class="icon"><span class="fa fa-twitter"></span> Grails on Twitter</a></li>
    <li><a href="https://grails.org/events.html" class="icon"><span class="fa fa-calendar"></span> Events and conferences</a></li>
    <li><a href="https://github.com/grails/grails-core" class="icon"><span class="fa fa-github"></span> Source code on GitHub</a></li>
    <li><a href="https://grails.org/contribute.html#reporting-issues" class="icon"><span class="fa fa-bug"></span> Report issues on Github</a></li>
    <li><a href="http://stackoverflow.com/questions/tagged/grails" class="icon"><span class="fa fa-stack-overflow"></span> Stack Overflow questions</a></li>
  </ul>
</nav>

<nav class="navbar navbar-full navbar-dark">
  <button class="navbar-toggler hidden-md-up float-xs-right" type="button" (click)="navExpanded = !navExpanded" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <a class="navbar-brand" href="https://grails.org">
    <i class="fa grails-icon">
      <img src="../../images/grails-cupsonly-logo-white.svg" />
    </i>&nbsp;Grails
  </a>
  <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2" [ngbCollapse]="!navExpanded">
    <ul class="nav navbar-nav float-sm-right">
      <li class="nav-item"><a href="https://grails.org/learn.html" class="nav-link">Learn</a></li>
      <li class="nav-item"><a href="http://guides.grails.org/" class="nav-link">Guides</a></li>
      <li class="nav-item"><a href="https://grails.org/documentation.html" class="nav-link">Documentation</a></li>
      <li class="nav-item"><a href="https://grails.org/download.html" class="nav-link">Download</a></li>
      <li class="nav-item"><a href="http://plugins.grails.org" class="nav-link">Plugins</a></li>
      <li class="nav-item"><a href="https://grails.org/community.html" class="nav-link">Community</a></li>
      <li class="nav-item"><a href="https://grails.org/support.html" class="nav-link">Support</a></li>      
      <li class="nav-item"><a (click)="sidebar.toggleState()" id="sidebarToggle" href="#" class="nav-link">Socialize</a></li>
      <li class="nav-item"><a href="https://grails.org/search.html" class="nav-link"><i class="fa fa-search"></i></a></li>
    </ul>
  </div>

</nav>

<div class="grails-guides-logo">
  <img src="../../images/grailsguides.svg" />
</div>
