<nav class="navbar navbar-full navbar-dark" style="background-color: #4D8618;">
  <button class="navbar-toggler hidden-md-up float-xs-right" type="button" (click)="navExpanded = !navExpanded" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <a class="navbar-brand" href="/#">
    <i class="fa grails-icon">
      <img src="../../images/grails-cupsonly-logo-white.svg" />
    </i> Grails
  </a>
  <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2" [ngbCollapse]="!navExpanded">
    <ul class="nav navbar-nav float-sm-right">
    </ul>
  </div>
</nav>