.nav-link {
    padding: .5rem;
    border-radius: 3px;
}

.nav-link:hover, .nav-link:active {
    background-color: #db4800;
}

.grails-icon img {
    width: 40px;
    background-image: url("../../images/grails-cupsonly-logo-white.svg");
}

.navbar {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    padding-right: 110px;
    padding-top: 10px;
    padding-bottom:10px;
    background: #4D8618;
    border: 0px;
}
.navbar-nav a {color: #ffffff !important;font-size: 18px !important;text-decoration: none;}
a.navbar-brand {color: white !important;font-size: 19px !important;text-shadow: none;line-height:42px;}
.navbar-nav > .active > a,.navbar-nav > .active > a:hover,.navbar-nav > .active > a:focus {background-color: transparent;color: white;text-shadow: none;}
.navbar-nav > li.active > a {color: white !important;}
.navbar-nav > li > a:hover {
    background-color: #db4800 !important;
    color: white !important;
}
.navbar-nav > li > a {color: #c0d3db;text-shadow: none;line-height:20px;}
@media (max-width: 999px) {
    .navbar {padding-right: 0px;}
}
@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.socialize-menu {
    position: fixed;
    top: 0;
    left: auto;
    width: 300px;
    height: 100%;
    background: #79B94C;-webkit-transition: all .5s;
    transition: all .5s;
    right: -300px;
    z-index: 1002;
}
.socialize-menu ul {margin: 0;padding: 0;list-style: none;}
.socialize-menu h2 {margin: 0;padding: 1em;color: white;text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);font-weight: 300;font-size: 2em;}
.socialize-menu ul li {display: block;}
.socialize-menu ul li a {display: block;position: relative;padding: 1em 1em 1em 45px;outline: 0;box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);color: #f3efe0;text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);letter-spacing: 1px;font-weight: 400;text-decoration: none;}
.socialize-menu ul li a span.fa {display: block;position: absolute;left: 12px;top: 17px;font-size: 20px;width: 30px;text-align: center;}
.socialize-menu ul li a span.fa.fa-tasks,.socialize-menu ul li a span.fa.fa-envelope {top: 18px;font-size: 18px;}
.socialize-menu ul li:first-child a {box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);}
.socialize-menu ul li a:hover {background: rgba(0, 0, 0, 0.2);}

