.align-right {
    float: right;
}
.align-left {
    float: left;
}

.grails-guides-logo {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    float: right;
}

.grails-guides-logo img {
    width: 100%;
    max-width: 500px;
    padding: 10px;
}

header input {
    width: 23rem;
    display: inline-block;
}

.sponsored-by {
    position: absolute;
    right: 78px;
    top: 12px;
    font-size: 1.2em;
}


@media screen and (max-width: 900px) {
    header .align-right {
        float: none;
    }
    .grails-guides-logo {
        float: none;
    }

    .sponsored-by {
        left: 190px;
    }
}

a {
    color: #db4800 !important;
}

#content {
    margin: 20px 1em 1em;
}

.guide-category {
    margin-top: 35px;
    margin-bottom: 25px;
}

.guide-category-name {
    font-size: 24px;
}
