<div id="content" role="main">
  <header>
    <div class="grails-guides-logo">
      <img src="../../images/grailsguides.svg" alt="Grails Guides - Sponsored by OCI" />
    </div>
    <div class="align-right">
      <input type="text" class="form-control" [formControl]="filterControl" placeholder="Search..." />
      <div><small class="text-muted" style="display: inline-block;">Showing {{filteredGuides.length}} of {{guides.length}} <span *ngIf="filter">Filtering by: {{filter}}</span> <a role="button" *ngIf="filteredGuides.length < guides.length" (click)="resetFilter()">reset</a></small></div>
    </div>
    <div class="clearfix"></div>
  </header>
  <div class="guide-category" *ngFor="let category of nonEmptyCategories()">
    <h2 class="guide-category-name">{{category}}</h2>
    <div class="card-columns">
      <app-guide *ngFor="let guide of guidesByCategory(category)" [guide]="guide" (tagClicked)="filterTag($event)"></app-guide>
    </div>
    <hr/>
  </div>
</div>
