<div id="content" role="main">
  <header>
  <div class="grails-guides-logo" style="position:relative;">
    <div class="sponsored-by">Sponsored By:</div>
    <img src="../../images/sponsoredbyoci.svg" alt="Grails Guides - Sponsored by OCI" />
  </div>
  <div class="row align-left">
    <div class="col-xs-4 m-3">
    <h1>Grails Guides {{filter}}</h1>
    <input type="text" class="form-control" [formControl]="filterControl" placeholder="Search..." />
    <div><small class="text-muted" style="display: inline-block;">Showing {{filteredGuides.length}} of {{guides.length}} <span *ngIf="filter">Filtering by: {{filter}}</span> <a role="button" *ngIf="filteredGuides.length < guides.length" (click)="resetFilter()">reset</a></small></div>
    </div>
    <div class="col-xs-6 m-3">
      <!-- For Suggestion at the top of page, uncomment -->
      <!--<h1>Suggestions</h1>-->
      <!--<div id="suggestion-form"></div>-->
    </div>
  </div>
  </header>
  <div class="clearfix"></div>
  <div class="guide-category" *ngFor="let category of nonEmptyCategories()">
    <h2 class="guide-category-name" id="{{slugify(category)}}">{{category}}</h2>
    <div class="card-columns">
      <app-guide *ngFor="let guide of guidesByCategory(category)" [guide]="guide" (tagClicked)="filterTag($event)"></app-guide>
    </div>
    <hr/>
  </div>
  <!-- For Suggestion at the bottom of page, uncomment -->
  <h1>Suggestions</h1>
  <div id="suggestion-form"></div>
</div>